
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    background: linear-gradient(45deg, #644be0, #9855ae);
    border-radius: 5px;
}

.logo   {
    font-size: 30px;
    font-weight: bold;
}

.nav-link {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 20px;
}

.nav-link a {
    color: rgb(4, 4, 4);
    text-decoration: none;
}

.nav-link a:hover{
    color: rgb(222, 217, 217);
}

