
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Inter", sans-serif;
}

/* Navigation Menu */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    background: #75d0ea;
}

.logo   {
    font-size: 30px;
    font-weight: bold;
}

.nav-link {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 20px;
}

.nav-link a {
    color: rgb(4, 4, 4);
    text-decoration: none;
}

.nav-link a:hover{
    color: rgb(222, 217, 217);
}


/*Content Section 2: Features*/

.features-container{
    padding: 80px 0;
    background: #75d0ea;
    margin: 0 auto;
}

.features-title{
    font-size: 35px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-weight: bold;
}
.features-card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.features-card{
    background-color: rgba(60, 23, 224, 0.1);
    max-width: 400px;
    overflow: hidden;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0, 0, 0.1);
    transition: border-radius 0.3s, transform 0.5s, color 0.3s, animation;
}

.features-card:hover{
    transform: translateY(-5px);
    border-radius: 64px 48px 16px 96px;
    background: linear-gradient(45deg, #644be0, #9855ae);
    color: aliceblue;
    cursor: pointer;
    animation: rotate 2s linear;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

/*Footer Section*/

.features-card-title{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.features-card-title ~ p{
    font-size: 20px;
}

.footer-container{
    align-items: center;
    text-align: center;
    background:#b9daeb;
}
.footer-end{
    background: black;
    color: white;
}
.footer-img{
    width: 30px;
    height: 30px;
}
